<!DOCTYPE html>
<html>
    <head>
        <link href='../assets/styles.css' rel="stylesheet"/>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Send was successful</h1>
        <p>You contacted: <%= data.who %></p>
        <p>You choosed department: <%= data.department %></p>
    </body>
</html>