<!DOCTYPE html>
<html>
    <head>
        <link href='../assets/styles.css' rel="stylesheet"/>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Hello there!</h1>
        <p>Contact page here</p>
    </body>
</html>