<!DOCTYPE html>
<html>
    <head>
        <link href='../assets/styles.css' rel="stylesheet"/>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>404 Page not found!</h1>
    </body>
</html>