<!DOCTYPE html>
<html>
    <head>
        <link href='../assets/styles.css' rel="stylesheet"/>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Hello there <%= person%>!</h1>
        <p><strong>Age: </strong><%= data.age %></p>
        <p><strong>Job: </strong><%= data.job %></p>
        <ul>
            <% data.hobbies.forEach(hobby=>{ %>
                <li><%= hobby %></li>
            <% }) %>
        </ul> 
    </body>
</html>